body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ba4949;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

#app {
  background-color: #c15c5c;
  width: 500px;
  margin: 0 auto;
  /* border: solid 1px #ccc; */
  padding: 20px;
}

#time {
  text-align: center;
  padding: 20px 0;
}

#time #value {
  font-size: 90px;
  font-weight: bolder;
  color: white;
}

#time #taskName {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.form {
  text-align: center;
}

input[type = "text"] {
  padding: 10px;
  border: solid 1px #ccc;
  width: 300px;
  font-size: 20px;
}

button,
input[type = "submit"] {
  border: none;
  background-color: #ffffff;
  color: #ba4949;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.task {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 45px;
  background-color: #ba4949;
}

.task .completed {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task .title {
  width: 80%;
  padding: 5px 0;
  font-size: 20px;
  font-weight: bold;
}

.done {
  display: inline-block;
  padding: 5px;
  background-color: #ffffff;
  color: #ba4949;
  border-radius: 15%;
}